* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #212121;
    background-color: #fafafa;
    overflow: hidden;
}
img {
    border: 0;
}
p {
    margin: 16px 0;
}
a {
    text-decoration: none;
}
#header {
    background-color: #45AAF2;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
#appbar {
    height: 112px;
}
#logo {
    height: 256px;
    position: absolute;
    top: -146px;
    left: -50px;
}
#app-button {
    position: absolute;
    top: 28px;
    right: 0;
}
#extended {
    height: 56px;
    background-color: #45AAF2;
    line-height: 56px;
    color: white;
}
#tabs {
}
.tab {
    display: block;
    float: left;
    position: relative;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 0 32px;
    opacity: 0.8;
}
.tab.selected {
    opacity: 1;
}
.tab .slide {
    display: none;
}
.tab.selected .slide {
    display: block;
}
.slide {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #EC2153;
    height: 4px;
    width: 100%;
}
#content {
    padding: 16px;
}
#footer {
    background-color: #45AAF2;
    text-align: right;
    padding: 12px 0;
}
#footer a {
    color: white;
    display: inline-block;
    margin: 12px 0 12px 48px;
}
.inner {
    height: 100%;
    max-width: 768px;
    margin: 0px auto;
    position: relative;
}

@media only screen and (max-device-width: 768px) {
    #appbar {
        height: 64px;
    }
    #logo {
        height: 128px;
        top: -70px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    #app-button {
        display: none;
    }
    .tab {
        padding: 0 12px;
        font-size: 14px;
    }
    #footer a {
        margin: 12px;
    }
}
